<div class="wrapper"> 
<div class="row">
        <!--Featured apps-->
        <div id="panel" class="col-sm-2" style="height:100%;">
                   <div id="guide-item"> <span class="glyphicon glyphicon-home"></span> &nbsp; Home </div>
                   <div id="guide-item"> <span class="glyphicon glyphicon-heart"></span> &nbsp;  Favorites </div>
                   <div id="guide-item"> <span class="glyphicon glyphicon-pause"></span> &nbsp; WatchList</div>
                   <div id="guide-item"> <span class="glyphicon glyphicon-globe "></span> &nbsp; Notification<span class="loops pull-right">1</span></div>
                <hr/>
                <div class="caption">Featured apps</div>
         <div id="guide-item" class="menu"><span class="glyphicon glyphicon-bullhorn"></span> &nbsp; Channels</div>
         <div id="guide-item" class="menu"><span class="glyphicon glyphicon-option-horizontal"></span> &nbsp; Catagories</div>
          <div id="guide-item" class="menu"><span class="glyphicon glyphicon-user"></span> &nbsp; Groups </div>
          <hr/>
          <div class="fluid-container">
                   <p class="font-size:12px;color:;">
                  Sign in now to see your channels and recommendations!
          </p>
                  <button type="button" class="btn btn-default">Signin</button></div>
                <md-toolbar color="ps">
                 <span class="tags">Powered by &nbsp;</span> <span>GameViewer </span>
                 <md-icon>fingerprint</md-icon>
                </md-toolbar>
                 <hr/>
                <div style=" border-bottom:1px solid #e3e3e3;" id="box-title">Events</div> 
                <div><input type="search" class="form-control" placeholder="search"></div>
                <div id="event-box-container" class="fluid-container">
                <div id="event-box" class="fluid-container"  *ngFor="let user of users">
                <img align="left" src="" class="glyphicon glyphicon-user" style="width:50px;height:50px;border:1px solid #e3e3e3;"/>
                      <div id="body-event-box">
                        <span><b>Chris Gibbs</b><br/>
                        YO hater dem I beg you stop with your dumb comments all the time, always a chat shit.
                       <div class="tags">2hr</div>
                        </span>
                        <hr/>
                      </div>
                </div>   
                </div>
                <div class="tags">Take part</div>
                <br/>
        </div>
       

        <!--tunnel tube-->
        
        <div class="col-sm-7">
        <md-progress-bar mode="indeterminate" color="ps"></md-progress-bar>
        <div class="tunnel-panel" style="border:1px solid #fff;background-image: url(../../../../maps/img/p024skgq.jpg);"></div>
         <div style="height:50px;border:1xp solid #fff;">
                <span id="tunnel-tools" class="fa fa-facebook"></span>
                <span id="tunnel-tools" class="fa fa-twitter"></span>   
                <span id="tunnel-tools" class="glyphicon glyphicon-send"></span>
                  <span id="tunnel-tools" class="glyphicon glyphicon-heart"></span>

         </div>
        <div style="background-color:#fff; height:100px;font-weight:bold;font-size:14px;color:#555;padding:10px;">Tonight with John Oliver (HBO)
                <p style="font-size:12px;font-weight:lighter;">Published on Mar 19, 2017
Donald Trump's federal budget plan proposes large funding cuts with largely negative consequences. John Oliver examines the troubling priorities of the new administration.</p>
        </div>
        <div style="height:50px;border:1xp solid #fff;">
                 <span calss=""></span>
         </div>
        <div class="discuss" style="background-color:#fff; height:100px;font-size:12px;color:#555;padding:10px; height:100%;"> 
                <h4>Reviews <span class="pull-right">
                        <span id="tunnel-rate" class="glyphicon glyphicon-star"></span>
                        <span id="tunnel-rate" class="glyphicon glyphicon-star"></span>
                        <span id="tunnel-rate" class="glyphicon glyphicon-star"></span>
                         </span></h4>
                <div class="form-group">
                        <textarea class="form-control" style="margin-bottom:2px;border:1px solid #e3e3e3;border-radius:0px;"></textarea>
                        <button class="btn btn-primary pull-right" style="border-radius: 1px;font-weight: bold;">comment</button>
                        
                </div>
                <div class="PostWall">
                <div id="user" class="row">
                <div id="post" class="container">
                <div class="col-sm-1">
                        <span class="glyphicon glyphicon-user" style="width:50px;height:50px;border:1px solid #e3e3e3;"></span>
                      </div>
                      <div class="col-sm-10">
                        <span><b>Chris Gibbs</b><br/>
                        YO hater dem I beg you stop with your dumb comments all the time, always a chat shit, ALKALINE is not going anywhere, always here comments saying he gonna fade out do you know how long you lot been saying the same things and nuttin a change, and now you wanna try and hate on gully god and octane aswell WOOOOW, if you nah like him don't listen simple!!!!
                       <div class="tags">2 years ago</div>
                        </span>
                        <hr/>
                      </div>
                </div>
                <div id="post" class="container">
                <div class="col-sm-1">
                        <span class="glyphicon glyphicon-user" style="width:50px;height:50px;border:1px solid #e3e3e3;"></span>
                      </div>
                <div class="col-sm-10">
                        <span><b>Chris Gibbs</b><br/>
                        YO hater dem I beg you stop with your dumb comments all the time, always a chat shit, ALKALINE is not going anywhere, always here comments saying he gonna fade out do you know how long you lot been saying the same things and nuttin a change, and now you wanna try and hate on gully god and octane aswell WOOOOW, if you nah like him don't listen simple!!!!
                       <div class="tags">2 years ago</div>
                        </span>
                        <hr/>
                      </div>
                      </div>
                      

                </div>
        </div>
        </div>
         </div>
        <!--feed list-->
        <div id="panel" class="col-sm-2" style="height:100%;">
                 <div class="fluid-container">
                         <div class="caption" name="metaCatagory" style="font-size:12px;" >suggested</div>
                          <div class="thumbnail" style="padding:2px;border:1px solid #f5f5f5;border-radius: 2px; background-color:#fff;width:180px;">
                                  <div style="border:1px solid #e3e3e3;height:90px;" src="">&nbsp;</div>
                          <div class="caption" style="background:#fff;font-size:12px; padding-left:5px; padding-right:5px; padding-top:3px;height:55px;overflow-y:hidden;overflow-x:hidden;"> 
                          <div id="thunibal-title">Tonight with John Oliver (HBO)</div>
                          <div id="thunibal-description">Last week on HBO</div>
                        </div>
                           </div> 
                           
                            <div class="thumbnail" style="padding:2px;border:1px solid #f5f5f5;border-radius: 2px; background-color:#fff;width:180px;">
                                  <div style="border:1px solid #e3e3e3;height:90px;" src="">&nbsp;</div>
                          <div class="caption" style="background:#fff;font-size:12px; padding-left:5px; padding-right:5px; padding-top:3px;height:55px;overflow-y:hidden;overflow-x:hidden;"> 
                          <div id="thunibal-title">Tonight with John Oliver (HBO)</div>
                          <div id="thunibal-description">Last week on HBO</div>
                        </div>
                           </div> 
                            </div>
                            <hr/>
                             <div class="fluid-container">
                             <div class="caption" name="metaCatagory" style="font-size:12px;border-top:1px solid #fff;border-bottom:1px solid #fff;" >Events</div>
                           <div class="thumbnail" style="padding:2px;border:1px solid #f5f5f5;border-radius: 2px; background-color:#fff;width:180px;">
                                  <div style="border:1px solid #e3e3e3;height:90px;" src="">&nbsp;</div>
                          <div class="caption" style="background:#fff;font-size:12px; padding-left:5px; padding-right:5px; padding-top:3px;height:55px;overflow-y:hidden;overflow-x:hidden;"> 
                          <div id="thunibal-title">Tonight with John Oliver (HBO)</div>
                          <div id="thunibal-description">Last week on HBO</div>
                        </div>
                           </div> 
                          
                           <div class="thumbnail" style="padding:2px;border:1px solid #f5f5f5;border-radius: 2px; background-color:#fff;width:180px;">
                                  <div style="border:1px solid #e3e3e3;height:90px;" src="">&nbsp;</div>
                          <div class="caption" style="background:#fff;font-size:12px; padding-left:5px; padding-right:5px; padding-top:3px;height:55px;overflow-y:hidden;overflow-x:hidden;"> 
                          <div id="thunibal-title">Tonight with John Oliver (HBO)</div>
                          <div id="thunibal-description">Last week on HBO</div>
                        </div>
                           </div> 
                           </div>
                           <hr/>
                           <div class="fluid-container">
                             <div class="caption" name="metaCatagory" style="font-size:12px;border-top:1px solid #fff;border-bottom:1px solid #fff;" >Trending</div>
                          <div class="thumbnail" style="padding:2px;border:1px solid #f5f5f5;border-radius: 2px; background-color:#fff;width:180px;">
                                  <div style="border:1px solid #e3e3e3;height:90px;" src="">&nbsp;</div>
                          <div class="caption" style="background:#fff;font-size:12px; padding-left:5px; padding-right:5px; padding-top:3px;height:55px;overflow-y:hidden;overflow-x:hidden;"> 
                          <div id="thunibal-title">Tonight with John Oliver (HBO)</div>
                          <div id="thunibal-description">Last week on HBO</div>
                        </div>
                           </div> 
                          
                        <div class="thumbnail" style="padding:2px;border:1px solid #f5f5f5;border-radius: 2px; background-color:#fff;width:180px;">
                                  <div style="border:1px solid #e3e3e3;height:90px;" src="">&nbsp;</div>
                          <div class="caption" style="background:#fff;font-size:12px; padding-left:5px; padding-right:5px; padding-top:3px;height:55px;overflow-y:hidden;overflow-x:hidden;"> 
                          <div id="thunibal-title">Tonight with John Oliver (HBO)</div>
                          <div id="thunibal-description">Last week on HBO</div>
                        </div>
                           </div> 
                           </div>

        </div>
 </div>
 <div id="footer" class="row">
      <div id="panel-footer" class="col-sm-12" style="">
              <br/>
           <span id="caption-footer"> About </span>
  <span id="caption-footer">Press </span>
  <span id="caption-footer">Copyright </span>
  <span id="caption-footer">Creators</span>
  <span id="caption-footer">Advertise</span>
  <span id="caption-footer">Developers</span>
  <span id="caption-footer">MyTube</span> <br/>
  <span id="caption-footer">Terms</span>
  <span id="caption-footer">Privacy</span>
  <span id="caption-footer"> Policy & Safety </span>
  <span id="caption-footer">Send feedback</span>
   <div style="height:50px;visibility:hidden; border:1px solid green;"class="fluid-container pull-right">
          <span id="tunnel-tools" class="fa fa-facebook"></span>
                <span id="tunnel-tools" class="fa fa-twitter"></span>   
               
           </div>
   <div style="height:50px;border:0px solid green;"class="fluid-container pull-right">
                <span> <b>Connect</b></span>
                <span id="tunnel-tools" class="fa fa-facebook"></span>
                <span id="tunnel-tools" class="fa fa-twitter"></span>   
                <span id="tunnel-tools" class="fa fa-instagram"></span>
                  <span id="tunnel-tools" class="fa fa-google-plus"></span>
                <br/>
                <div class="tags" >Copyright GameViewer .INC 2017</div>
         </div> 
      </div>
 </div>
</div>