<div class="row" style="background-color:#605460; color:#fff;">
    <div class="col-sm-12">
        <div name="logo" class="col-sm-3">
        <h3 style="color:#fff;">{{name}}</h3>    
        </div>
        <div name="searchbar" class="col-sm-6" ><br/>
            <div class="input-group" style="margin-top:-5px;">
                <input class="form-control" style="border:1px solid #fff;" autocomplete type="search" placeholder="what to see now?">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">search <i class="glyphicon glyphicon-chevron-right"></i> </button>
                </div>
               
            </div>
        </div>
         
        <div class="col-sm-2 pull-right fluid-container" style="border:1px solid gray; padding:10px;text-align: center;">
           <span style="border:1px solid gray;height:inherit;">Account</span>
            <span>Signin</span>
         <!--div class="form-group pull-right"><span class="glyphicon glyphicon-cloud-upload"></span> &nbsp; &nbsp;-->
         <!--button type="button" class="btn btn-default" style="font-size:12px;">Signin</button> &nbsp;&nbsp;</div-->
         </div>

    </div>